		.wrap-right a {
			color: #3d64e3;
			display: inline-block;
			float: left;
		}
		
		.mess-form div {
			height: 40px;
			margin-bottom: 22px;
		}
		.mess-form .payway {
			height:160px;
		}
		.mess-form .payway li {
			padding-left: 70px;
			position: relative;
			height: 56px;
			padding-top: 9px;
			box-sizing: border-box;
		}
		.mess-form .payway li a {
			color:#333;
		}
		.mess-form .payway .weixin{
			background:url("../images/weixinpay.png") no-repeat  29px 4px;
			
		}
		.mess-form .payway .zhibao{

			background:url("../images/zhifupay.png") no-repeat  34px 4px;
			
		}
		.mess-form .payway .yinlian{
			background:url("../images/yinlianpay.png") no-repeat  27px 7px;
			
		}
		.mess-form .payway li span {
			position: absolute;
            left: 0;
             top: 0px;
		}
		
		.mess-form .payway input {
			display: none;
		}
		
		.checked {
			background: url(../images/paychecked.png) no-repeat center center;
			background-size: 50%;
		}
		
		
		.payway label {
			border: 1px solid #ffa800;
			;
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			position: relative;
			top: 2px;
		}
		
		.mess-form span {
			display: inline-block;
			width: 75px;
			line-height: 40px;
			font-size: 14px;
		}
		
		.wrap-right .mess-form {
			margin-top: 50px;
			margin-left: 228px;
		}
		
		.mess-form .check {
			line-height: 40px;
		}
		
		.mess-form .check img {
			height: 33px;
			width: 100px;
		}
		
		.mess-form .check input {
			width: 270px;
			margin-left: 10px;
			margin-right: 10px;
		}
		
		.mess-form div input {
			font-size: 14px;
			height: 30px;
			width: 380px;
			border: 1px solid #cbcbcb;
			box-shadow: inset 0px 1px 4px #cbcbcb;
			border-bottom: 1px solid #efefef;
			padding-left: 5px;
		}
		
		.mess-form div input:focus {
			border: 1px solid #ffa800;
			box-shadow: 0 0 1px #ffa800;
		}
		
		.mess-form #identiCode {
			width: 265px;
		}
		
		.mess-form button {
			width: 100px;
			height: 35px;
			color: #ffa800;
			margin-left: 5px;
			background: #fff;
			border-radius: 10px;
			border: 1px solid #ffa800;
		}
		
		.wrap #rechaReserve {
			background: #ffa800;
			color: #fff;
			width: 85px;
			height: 35px;
			border: none;
			margin: 56px 0 0 293px;
			border-radius: 10px;
			font-size: 14px;
			display: block;
			margin: 40px auto;
		}