				html,
				body {
					height: 100%;
				}
				
				#wrap {
					overflow: hidden;
					width: 100%;
				}
				
				#main {
					height: 2944px;
					top: 0;
					position: relative;
				}
				
				.page {
					width: 100%;
					margin: 0;
					height: 100%;
				}
				
				#page4 {
					position: relative;
				}
				
				.video-large-wrap {
					display: none;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					z-index: 200;
					background: #fff;
				}
				
				.video-container {
					position: relative;
				}
				
				.video-left {
					width: 1200px;
					overflow: hidden;
					margin: 0 auto;
				}
				
				.video-large-wrap #close {
					display: inline-block;
					width: 30px;
					height: 30px;
					position: absolute;
					right: 10px;
					top: 30px;
					font-size: 30px;
					z-index: 201;
					line-height: 30px;
					text-align: center;
					cursor: pointer;
					background: #fff;
					color: #000;
				}
				
				.video-large-wrap video {
					position: absolute;
					width: 100%;
					height: 100%;
				}
				
				.topbar {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 150px;
					z-index: 3;
				}
				
				.toppic {
					max-width: 1200px;
					min-width: 980px;
					height: 100%;
					margin: 0 auto;
				}
				
				.toppic img {
					width: 151px;
					height: 48px;
					margin-top: 30px;
				}
				
				.firstpage {
					font-family: "Microsoft YaHei";
					font-size: 17px;
					margin-top: 45px;
					color: #FF9600;
					margin-right: 34px;
				}
				
				.firstpage a {
					font-family: "Microsoft YaHei";
					color: #FF9600;
				}
				
				.aboutus {
					font-family: "Microsoft YaHei";
					font-size: 17px;
					margin-top: 45px;
				}
				
				.aboutus a {
					font-family: "Microsoft YaHei";
					color: #FFFFFF;
				}
				
				.video-head-wrap {
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
				
				.video-bg {
					width: 100%;
				}
				
				.video-container .video-control {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					background: rgba(34, 34, 34, 0.8);
				}
				
				.video-container .video-control img {
					display: block;
					margin: 0 auto;
				}
				
				#playbutton {
					width: 58px;
					height: 58px;
					margin-top: 47px;
					cursor: pointer;
				}
				
				.video-container .video-bottom {
					position: absolute;
					bottom: 150px;
					right: 160px;
					width: 100%;
				}
				
				.first_bg {
					background: url(/static/SZPC/assets/images/first_bg.png) no-repeat center center;
					width: 100%;
					height: 100%;
					background-size: cover;
				}
				
				.second_bg {
					background: url(/static/SZPC/assets/images/second_bg.png) no-repeat center center;
					width: 100%;
					height: 100%;
					background-size: cover;
				}
				
				.third_bg {
					background: url(/static/SZPC/assets/images/third_bg.png) no-repeat center center;
					width: 100%;
					background-size: cover;
					border: 1px solid transparent;
				}
				
				.first_content,
				.second_content,
				.third_big_content {
					width: 1200px;
					margin: 0 auto;
					height: 100%;
					border: 1px solid transparent;
				}
				
				.first_tittle {
					margin: 223px 0 59px 639px;
					font-family: "Microsoft YaHei";
					font-weight: normal;
					font-size: 41px;
					color: #333333;
					font-weight: normal;
					font-weight: 800;
				}
				
				.first_des {
					height: 893px;
					width: 783px;
					font-family: "Microsoft YaHei";
					font-size: 18px;
					color: #333333;
					line-height: 35px;
					margin-left: 407px;
					text-align: justify;
					text-indent: 2em;
				}
				
				.second_tittle {
					margin: 114px 0 59px 58px;
					font-family: "Microsoft YaHei";
					font-size: 41px;
					color: #FFFFFF;
					font-weight: 800;
				}
				
				.second_des {
					margin-left: 58px;
					width: 893px;
					height: 147px;
					font-family: "Microsoft YaHei";
					font-size: 18px;
					color: #FFFFFF;
					text-align: justify;
					text-indent: 2em;
					line-height: 49px;
				}
				
				.third_content {
					width: 415px;
					height: 300px;
					background: rgba(255, 255, 255, .3);
					border: 1px solid transparent;
					margin: 50px 0 0 480px;
					padding: 58px;
				}
				
				.third_tittle {
					margin: 0 0 36px -37px;
					font-family: "Microsoft YaHei";
					font-size: 41px;
					color: #333333;
					font-weight: 800;
				}
				
				.third_des {
					font-family: "Microsoft YaHei";
					font-size: 17px;
					color: #333333;
					text-indent: 2em;
					line-height: 36px;
					text-align: justify;
				}
				
				.footer {
					position: absolute;
					bottom: 0;
					line-height: 60px;
					width: 100%;
					background: #F8F8F8;
					height: 60px;
				}
				
				.footer-wrapper {
					text-align: center;
					font-family: "MicrosoftYaHei";
					font-size: 14px;
					color: #7F7F7F;
				}
				
				.mess-copyright span {
					font-size: 14px;
					font-family: Arial, Helvetica, sans-serif;
				}