@charset "utf-8";
/* CSS Document */
.search .search_group {
	height: 2.2rem;
}
.search .search_group input {
	height: 2.2rem;
	background-size: 5%;
	font-size: 1.2rem;
	padding-left: 11%;
}
.search button {
	height: 2.2rem;
}
.count li {
	float: none;
	width: 100%;
	border-bottom: none !important;
	height: auto;
}
.count li .p {
	margin-top: 0px;
	width: 97%;
	margin-left: 3%;
	border-left: none !important;
	border-bottom: 1px solid #d3d3d3;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.count li:last-child .p {
	border-bottom: none;
}
.count li .p dl {
	width: 58%;
	padding-right: 2%;
}
.count li .p .video_img {
	width: 30%;
	height: 6rem;
	float: left;
	border-radius: 0.5rem;
	margin-right: 1.2rem;
}
.count li .p .video_img img {
	width: 100%;
}
.top span {
	line-height: 2rem;
	margin-top: 1rem;
}
.bottom span {
	font-size: 1rem;
	padding-left: 1.3rem;
	line-height: 3rem;
}
.video_play {
	width: 3.6rem;
	background: url(/static/wechat/assets/images/video_play.png) left center no-repeat;
	background-size: 12px;
	cursor: pointer;
}
.video_download {
	background: url(/static/wechat/assets/images/video_download.png) left center no-repeat;
	background-size: 12px;
	margin-left: 1rem;
	cursor: pointer;
}
.video_lesson_date {
	background: url(/static/wechat/assets/images/video_date.png) left center no-repeat;
	background-size: 12px;
	margin-right: 1rem;
	cursor: pointer;
}
.blue {
	color: #112976;
}
.gray {
	color: #999999;
}
.top {
	background: #fff;
	line-height: 3rem;
}
.top .type {
	display: inline-block;
	width: 28%;
	text-align: center;
}
.top p span {
	border-right: 1px solid #f1f0f8;
}
.top p .all {
	display: inline-block;
	width: 9%;
}
.top p .all img {
	width: 66%;
	margin-left: 17%;
}
.left-lessons {
	position: absolute;
	width: 38%;
	background: #f1f1f1;
	text-align: center;
	font-size: 1.2rem;
	left: 0px;
	z-index: 11;
	display: none;
	top: 5rem;
}
.left-lessons ul {
	background: #f1f1f1;
}
.left-lessons ol {
	line-height: 4rem;
	background: url(/static/wechat/assets/images/all_bg.png) no-repeat left bottom;
}
.left-lessons li {
	line-height: 4.5rem;
}
.left-lessons li img {
	margin-right: 1rem;
	width: 1.6rem;
}
.left-lessons li span {
}
.lessons_children {
	background: url(/static/wechat/assets/images/all_bg.png) no-repeat left bottom;
}
.date_blue {
	background: url(/static/wechat/assets/images/date_blue.png) left center no-repeat;
	background-size: 12px;	
}
.download_blue {
	background: url(/static/wechat/assets/images/download_blue.png) left center no-repeat;
	background-size: 1rem;
}
.play_blue {
	background: url(/static/wechat/assets/images/play_blue.png) left center no-repeat;
	background-size: 1rem;
}
.lesson_gray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.second-lessons {
	display: none;
	position: absolute;
	width: 12rem;
	top: 4rem;
	background: #f1f1f1;
	border-left: 1px solid #e4e4e4;
	height: 32rem;
	overflow-y: scroll;
	left: 100%;
	z-index: 10;
}
.second-lessons dd {
	font-size: 1.1rem;
	line-height: 3rem;
}
.list {
	background: #fff;
}
.list .bg {
	width: 100%;
	height: 20rem;
}
.list h2 {
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #333333;
}
.list h2 span {
	margin-right: 0.6rem;
}
.list p {
	padding-bottom: 0.9rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	color: #666666;
	line-height: 1.7rem;
}
.list_time {
	background: url(/static/wechat/assets/images/list_time.png) left center no-repeat;
	background-size: 1rem;
	width: 3rem;
	text-align: left;
}
.list_play {
	background: url(/static/wechat/assets/images/list_play.png) left center no-repeat;
	background-size: 1rem;
	width: 3rem;
	text-align: left;
}
.list_best {
	background: url(/static/wechat/assets/images/list_best.png) left center no-repeat;
	background-size: 1rem;
	width: 3rem;
	text-align: left;
}
.scstate {
	width: 1.5rem;
	position: relative;
	top: -3px;
}
