#wrapper {
	top: 0;
	bottom: 72px;
}

.content ul {
	background: #fff;
}

.content ul li {
	position: relative;
	box-sizing: border-box;
	margin-left: 9px;
	border-bottom: 1px solid #e3e3e3;
}

.content ul li h6 {
	padding: 10px 0;
	line-height: 1;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}

.content ul li p {
	margin-bottom: 10px;
	line-height: 1;
	font-size: 11px;
	color: #999;
}

.content ul li em {
	position: absolute;
	top: 18.5px;
	right: 10px;
	font-size: 16px;
	font-style: normal;
	color: #008e59;
}

.all-integral {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	background: #fff;
	border-top: 1px solid #e3e3e3;
}

.all-integral p {
	width: 89%;
	margin: 0 auto;
	padding: 11px 0;
	line-height: 1;
	font-size: 17px;
	color: #00a0e9;
	border: 1px solid #00a0e9;
	border-radius: 10px;
	text-align: center;
}